<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div>
      <a mat-button [routerLink]="'/station-list'" routerLinkActive="mat-accent"> Stations </a>
      <a mat-button [routerLink]="'/station-map'" routerLinkActive="mat-accent"> Station Map </a>
      <a mat-button [routerLink]="'/measurement-list'" routerLinkActive="mat-accent"> Measurements </a>
      <a mat-button [routerLink]="'/measurement-linechart'" routerLinkActive="mat-accent"> Measurements Chart </a>
    </div>
  </mat-toolbar-row>

</mat-toolbar>
