<ng-container>

  <mat-sidenav-container class="example-container">

    <mat-sidenav mode="side" opened>


      <mat-accordion>

        <mat-expansion-panel hideToggle>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Filters
            </mat-panel-title>
            <mat-panel-description>
              {{ selectedStates.toLocaleString() + ' - ' +
              selectedStations.toLocaleString() + ' - ' +
              selectedYears.toLocaleString() }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>This is the primary content of the panel.</p>
        </mat-expansion-panel>

        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              States
            </mat-panel-title>
            <mat-panel-description>
              Choose one or more states
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div *ngFor="let state of states">
            <mat-checkbox (change)="onChangeState($event, state)" [checked]="selectedStates.indexOf(state)>=0">
              {{ state }}
            </mat-checkbox>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Stations
            </mat-panel-title>
            <mat-panel-description>
              Choose one or more stations
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div *ngFor="let station of stations">
            <mat-checkbox (change)="onChangeStation($event, station.id)"
              [checked]="this.selectedStations.indexOf(station.id) >= 0" [value]="station.id">
              {{ station.name + '/' + station.state}}
            </mat-checkbox>
          </div>

        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Years
            </mat-panel-title>
            <mat-panel-description>
              Choose one or more years
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div *ngFor="let year of years">
            <mat-checkbox (change)="onChangeYear($event, year)" [checked]="this.selectedYears.indexOf(year)>=0">
              {{ year }}
            </mat-checkbox>
          </div>

        </mat-expansion-panel>

      </mat-accordion>

    </mat-sidenav>


    <mat-sidenav-content>


      <main>

        <table mat-table [dataSource]="temperaturesByFrequency" class="mat-elevation-z8"
          *ngIf="temperaturesByFrequency.length > 0">

          <ng-container matColumnDef="temperatureAvg">
            <th mat-header-cell *matHeaderCellDef> Temperature Avg </th>
            <td mat-cell *matCellDef="let element"> {{element.temperatureAvg}} </td>
          </ng-container>

          <ng-container matColumnDef="temperatureMax">
            <th mat-header-cell *matHeaderCellDef> Temperature Max </th>
            <td mat-cell *matCellDef="let element"> {{element.temperatureMax}} </td>
          </ng-container>

          <ng-container matColumnDef="temperatureMin">
            <th mat-header-cell *matHeaderCellDef> Temperature Min </th>
            <td mat-cell *matCellDef="let element"> {{element.temperatureMin}} </td>
          </ng-container>

          <ng-container matColumnDef="referenceDate">
            <th mat-header-cell *matHeaderCellDef> Reference Date </th>
            <td mat-cell *matCellDef="let element"> {{element.referenceDate}} </td>
          </ng-container>

          <ng-container matColumnDef="year">
            <th mat-header-cell *matHeaderCellDef> Year </th>
            <td mat-cell *matCellDef="let element"> {{ element.year }} </td>
          </ng-container>

          <ng-container matColumnDef="month">
            <th mat-header-cell *matHeaderCellDef> Month </th>
            <td mat-cell *matCellDef="let element"> {{ element.month }} </td>
          </ng-container>

          <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef> Location </th>
            <td mat-cell *matCellDef="let element"> {{element.location}} </td>
          </ng-container>

          <ng-container matColumnDef="frequency">
            <th mat-header-cell *matHeaderCellDef> Frequency </th>
            <td mat-cell *matCellDef="let element"> {{ element.frequency }} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <p class="info-text mat-body-1" *ngIf="temperaturesByFrequency.length == 0">No records saved.</p>

      </main>



    </mat-sidenav-content>

  </mat-sidenav-container>

</ng-container>
